<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tech.dojo.pay.sdk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>

        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />
        <activity
            android:name=".card.presentation.card.ui.DojoCardPaymentActivity"
            android:theme="@style/Theme.Transparent"/>

        <activity
            android:name=".card.presentation.card.ui.DojoVirtualTerminalActivity"
            android:theme="@style/Theme.Transparent"/>

        <activity
            android:name=".card.presentation.gpay.ui.DojoGPayActivity"
            android:theme="@style/Theme.Transparent"/>
    </application>

</manifest>